## Make and Index some data in Python
# Creating Vectors, a panda data frame, some indexing

In [5]:
import numpy as np
import pandas as pd

In [10]:
teddy = [1, 2, 8]
type(teddy)

khora = [10, 20, 100]
type(khora)

teddy + khora

[1, 2, 8, 10, 20, 100]

In [12]:
teddy_vec = np.array(teddy)
type(teddy_vec)

numpy.ndarray

In [14]:
teddy[1] = 5000

In [15]:
teddy

[1, 5000, 8]

In [18]:
banjo = (3, 10, 14)
banjo[2] = 300
# tuples won't allow you to assign a new value to an existing object

TypeError: 'tuple' object does not support item assignment

In [21]:
waffle = [2, "burrito", [0, 1, 15]]
waffle
waffle[2]

[0, 1, 15]

In [23]:
type(waffle[0])

int

In [24]:
waffle[0] = "It's Tuesday"

In [29]:
cows = {'name': ["moo", "spots", "happy"], 'location':["pasture", "prairie", "barn"]}

# convert to pandas data frame

cows_df = pd.DataFrame(cows)
cows_df

    name location
0    moo  pasture
1  spots  prairie
2  happy     barn